{
	"presets": [
		["@babel/preset-env", { "useBuiltIns": "entry" }]
	],
	"plugins": [
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		[
			"@babel/plugin-transform-runtime",
			{ "corejs": { "version": 3, "proposals": true } }
		],
	]
}